Object Oriented Programming
* Real World into Virtual World by using different objects
* For everything we do, we need an object
* Object has two things
1. Attribute / Property / Data / Variables - name, age, height
2. Behaviour / Methods - Speak, Walk, Eat

* In OOPS Functions are called Methods
* Class - Design / Blueprint

In [1]:
a = 20
print(type(a))

<class 'int'>

In [2]:
a = "umang"
print(type(a))

<class 'str'>

In [3]:
class training:
  def subjects(self):
    print("Maths, Science, English")

In [4]:
t1 = training()
t2 = training()
print(type(t1))
print(type(t2))

<class '__main__.training'>
<class '__main__.training'>

In [7]:
class training:
  def subjects(self):
    print("Maths, Science, English")

t1 = training()
t2 = training()
t1.subjects()
t2.subjects()
training.subjects(t1)
training.subjects(t2)

Maths, Science, English
Maths, Science, English
Maths, Science, English
Maths, Science, English

In [8]:
class training:
  def subjects(self,sub):
    print(sub)

t1 = training()
t2 = training()
t1.subjects("Maths")
t2.subjects("Science")
training.subjects(t1,"Maths")
training.subjects(t2,"Science")

Maths
Science
Maths
Science

init method
* Special method to define variables in class
* It is called automatically

In [11]:
class training:

  def __init__(self,name,fee):
    print("This is a init method")
    self.n = name
    self.f = fee

  def subjects(self):
    print("Subject Name - "+str(self.n))
    print("Fee - "+str(self.f))

t1 = training("Maths",1000)
t2 = training("Science",800)
t1.subjects()
t2.subjects()

This is a init method
This is a init method
Subject Name - Maths
Fee - 1000
Subject Name - Science
Fee - 800

Inheritance
* Class using the property/methods of another class
* Types
1. Single Level Inheritance
2. Multiple Level Inheritance
3. Multiple Inheritance

In [12]:
### Single level inheritance

In [15]:
class A:
  def m1(self):
    print("This is method 1")

class B(A):
  def m2(self):
    print("This is method 2")

In [16]:
a1 = A()
b1 = B()

In [17]:
b1.m1()

This is method 1

In [18]:
b1.m2()

This is method 2

In [19]:
## Multiple Level Inheritance

In [21]:
class A:
  def m1(self):
    print("This is method 1")

class B(A):
  def m2(self):
    print("This is method 2")

class C(B):
  def m3(self):
    print("This is method 3")

In [22]:
a1 = A()
b1 = B()
c1 = C()

In [23]:
## Multiple Inheritance

In [24]:
class A:
  def m1(self):
    print("This is method 1")

class B:
  def m2(self):
    print("This is method 2")

class C(A,B):
  def m3(self):
    print("This is method 3")

In [25]:
a1 = A()
b1 = B()
c1 = C()

In [26]:
## init method in inheritance

In [27]:
class A:
  def __init__(self):
    print("init of A")

  def m1(self):
    print("This is method 1")

class B(A):
  def m2(self):
    print("This is method 2")

In [29]:
a1 = A()
b1 = B()

init of A
init of A

In [30]:
class A:
  def __init__(self):
    print("init of A")

  def m1(self):
    print("This is method 1")

class B(A):
  def __init__(self):
    print("init of B")

  def m2(self):
    print("This is method 2")

In [31]:
a1 = A()
b1 = B()

init of A
init of B

In [32]:
class A:
  def __init__(self):
    print("init of A")

  def m1(self):
    print("This is method 1")

class B(A):
  def __init__(self):
    super().__init__()
    print("init of B")

  def m2(self):
    print("This is method 2")

In [33]:
a1 = A()
b1 = B()

init of A
init of A
init of B

In [4]:
class A:
  def __init__(self):
    print("init of A")
  def m1(self):
    print("This is method 1")

class B:
  def __init__(self):
    print("init of B")
  def m2(self):
    print("This is method 2")

class C(A,B):
  def m3(self):
    print("This is method 3")

In [7]:
c1 = C()

init of B

In [8]:
c1.m1()

This is method 1

In [37]:
class A:
  def __init__(self):
    print("init of A")
  def m1(self):
    print("This is method 1")

class B:
  def __init__(self):
    print("init of B")
  def m2(self):
    print("This is method 2")

class C(B,A):
  def m3(self):
    print("This is method 3")

In [38]:
c1 = C()

init of B

In [39]:
### Comprehension

In [40]:
a = [1,2,3,4,5]
sq = []
for i in a:
  sq.append(i**2)

print(sq)

[1, 4, 9, 16, 25]

In [41]:
a = [1,2,3,4,5]
sq = [i**2 for i in a]
print(sq)

[1, 4, 9, 16, 25]

In [43]:
a = [1,2,3,4,5]
sq = [i**2 for i in a]
sqsq = [j**2 for j in sq]
print(sqsq)

[1, 16, 81, 256, 625]

In [44]:
a = [1,2,3,4,5]
sqsq = [j**2 for j in (i**2 for i in a)]
print(sqsq)

[1, 16, 81, 256, 625]

In [45]:
a = [1,2,3,4,5]
sqsq = {j**2 for j in (i**2 for i in a)}
print(sqsq)

{256, 1, 16, 625, 81}

In [51]:
## dictionary comprhension

In [52]:
keys = ["key1","key2"]
values = [10,20]
d = {k:v for (k,v) in zip(keys,values)}
print(d)

{'key1': 10, 'key2': 20}

In [46]:
### Lambda Function

In [47]:
def square(a):
  return a**2

In [48]:
square(5)

25

In [49]:
sq = lambda a:a**2
print(sq(5))

25

In [50]:
sm = lambda a,b:a+b
print(sm(5,10))

15